In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from sklearn.preprocessing import MinMaxScaler
from plotly.subplots import make_subplots

In [2]:
df_Population_Be_1=pd.read_csv("~/data_viz/Project_Employement/data/tidy_data/bureau d'emploi/Socio économique 02_22_2020 22_04_20.csv",
                                header=1)
df_Population_Be_1

,,Evolution des demandes d'emploi enregistrées,Demandes d'emploi enregistrées des Masculins,demandes d'emploi enregistrées des Feminins,Dont première demande
0,2007,522082,257589,264493,447946
1,2008,565907,273957,291950,494571
2,2009,547879,252491,295388,482485
3,2010,604327,270754,333573,543842
4,2011,802421,365751,436670,747698
5,2012,864744,381176,483567,812738
6,2013,735933,330451,405482,688132
7,2014,691969,299110,392859,652043
8,2015,701676,308416,393260,663636
9,2016,789927,343261,446666,753015
10,2017,657543,263500,394043,630750

In [ ]:
fig1 = go.Figure()
fig1.add_trace(go.Scatter(x=df_Population_Be_1[' '], y=df_Population_Be_1["Evolution des demandes d'emploi enregistrées"], name='Total',
                         line = dict(color='royalblue')))

fig1.update_layout(title="Evolution des demandes d'emploi entre 2007 et 2017",template="plotly_white")
fig1.write_html("fig1.html")
fig1.show()

In [ ]:
import plotly.graph_objects as go
import plotly.express as px


fig2 = go.Figure()
fig2.add_trace(go.Bar(
    x=df_Population_Be_1[' '], 
    y=df_Population_Be_1["Demandes d'emploi enregistrées des Masculins"],
    name='Homme',
    marker_color='royalblue'
))
fig2.add_trace(go.Bar(
    x=df_Population_Be_1[' '],
    y=df_Population_Be_1["demandes d'emploi enregistrées des Feminins"],
    name='Femme',
    marker_color='lightsalmon'
))

# Here we modify the tickangle of the xaxis, resulting in rotated labels.
fig2.update_layout(barmode='group', xaxis_tickangle=-45,title="Demandes d'emploi des hommes Vs les femmes",template="plotly_white")
fig2.write_html("fig2.html")
fig2.show()

In [ ]:
import plotly.graph_objects as go
import plotly.express as px
import pandas as pd

# Initialize figure
fig3 = go.Figure()

# Add Traces

fig3.add_trace(
    go.Scatter(x=df_Population_Be_1[' '],
               y=df_Population_Be_1["Evolution des demandes d'emploi enregistrées"],
               name="Total Demandes",
               line=dict(color="#33CFA5")))

fig3.add_trace(
    go.Scatter(x=df_Population_Be_1[' '],
               y=df_Population_Be_1["Demandes d'emploi enregistrées des Masculins"],
               name="Demandes masculines",
               visible=False,
               line=dict(color="royalblue")))

fig3.add_trace(
    go.Scatter(x=df_Population_Be_1[' '],
               y=df_Population_Be_1["demandes d'emploi enregistrées des Feminins"],
               name="Demandes Féminines",
               line=dict(color="lightsalmon")))

fig3.add_trace(
    go.Scatter(x=df_Population_Be_1[' '],
               y=df_Population_Be_1['Dont première demande'],
               name="PrD",
               visible=False,
               line=dict(color="green")))

# Add Annotations and Buttons

fig3.update_layout(
    updatemenus=[
        dict(
            active=0,
            bgcolor='#B8F7D4',
            borderwidth =10,
            buttons=list([
                dict(label="Total Demandes",
                     method="update",
                     args=[{"visible": [True, False, False, False]},
                           {"title": "Demandes d'emploi"
                            }]),
                dict(label="Demandes masculines",
                     method="update",
                     args=[{"visible": [True, True, False, False]},
                           {"title": "Demandes d'emploi"
                           }]),
                dict(label="Demandes Féminines",
                     method="update",
                     #font="Times New Roman",color="red",
                     args=[{"visible": [True, False, True, False]},
                           {"title": "Demandes d'emploi"
                            }]),
                dict(label="PrD",
                     method="update",
                     args=[{"visible": [True,False,False, True]},
                           {"title": "Demandes d'emploi"
                            }]),
            ])
        )
    ])

# Set title
fig3.update_layout(hovermode="x",template="plotly_white",
        title={
        'text': "Demandes d'emploi",
        'y':0.9,
        'x':0.5,
        'xanchor': 'center',
        'yanchor': 'top'
        } ,
        xaxis_title="Année",
        yaxis_title="Demandes")

#fig = px.line(df_Population_Be_1,x='year', y="lifeExp")
fig3.write_html("fig3.html")
fig3.show()

In [ ]:
df_Population_Be_2=pd.read_csv("~/data_viz/Project_Employement/data/tidy_data/bureau d'emploi/Socio économique 02_22_2020 22_12_13.csv",
                                header=1)
df_Population_Be_2

In [ ]:
df_Population_Be_2.columns

In [ ]:
import plotly.graph_objects as go

fig4 = go.Figure()
fig4.add_trace(go.Scatter(x=df_Population_Be_1[' '], y=df_Population_Be_1["Evolution des demandes d'emploi enregistrées"], fill='tozeroy',name="Demandes enregistrées")) # fill down to xaxis
fig4.add_trace(go.Scatter(x=df_Population_Be_1[' '], y=df_Population_Be_2["Evolution des offres d'emploi reçus"], fill='tonexty',name="Offres reçues")) # fill to trace0 y
fig4.update_layout(hovermode="x",title_text="Demandes d'emploi Vs Offres reçues",template="plotly_white")
fig4.write_html("fig4.html")
fig4.show()

In [ ]:
import plotly.graph_objects as go


fig = go.Figure(data=[
    go.Bar(name="Evolution des offres d'emploi reçus", x=df_Population_Be_2[' '], y=df_Population_Be_2["Evolution des offres d'emploi reçus"]),
    go.Bar(name="Placements réalisées par Sexe", x=df_Population_Be_2[' '], y=df_Population_Be_2["Placements réalisées par Sexe"]),
    go.Bar(name="Placements réalisées  des Masculins", x=df_Population_Be_2[' '], y=df_Population_Be_2["Placements réalisées  des Masculins"]),
    go.Bar(name="Placements réalisées des Feminins", x=df_Population_Be_2[' '], y=df_Population_Be_2["Placements réalisées des Feminins"]),
    go.Bar(name="Dont premier emploi", x=df_Population_Be_2[' '], y=df_Population_Be_2["Dont premier emploi"])
])
# Change the bar mode

fig.update_layout(barmode='group',template="plotly_white")
fig.show()

In [ ]:
import plotly.graph_objects as go


fig = go.Figure(data=[
    go.Bar(name="Evolution des offres d'emploi reçus", x=df_Population_Be_2[' '], y=df_Population_Be_2["Evolution des offres d'emploi reçus"]),
    go.Bar(name="Placements réalisées par Sexe", x=df_Population_Be_2[' '], y=df_Population_Be_2["Placements réalisées par Sexe"]),
    go.Bar(name="Placements réalisées  des Masculins", x=df_Population_Be_2[' '], y=df_Population_Be_2["Placements réalisées  des Masculins"]),
    go.Bar(name="Placements réalisées des Feminins", x=df_Population_Be_2[' '], y=df_Population_Be_2["Placements réalisées des Feminins"]),
    go.Bar(name="Dont premier emploi", x=df_Population_Be_2[' '], y=df_Population_Be_2["Dont premier emploi"])
])
# Change the bar mode

fig.update_layout(barmode='stack',template="plotly_white")
fig.show()

In [9]:
#private-sector-indicators-for-tunisia-1
df_Priv_sec_indicator=pd.read_csv("~/data_viz/Project_Employement/data/raw_data/private-sector-indicators-for-tunisia-1.csv",
                                header=1)
df_Priv_sec_indicator

,#country+name,#country+code,#date+year,#indicator+name,#indicator+code,#indicator+value+num
0,Tunisia,TUN,2018,Trade in services (% of GDP),BG.GSR.NFSV.GD.ZS,17.740223
1,Tunisia,TUN,2017,Trade in services (% of GDP),BG.GSR.NFSV.GD.ZS,15.827670
2,Tunisia,TUN,2016,Trade in services (% of GDP),BG.GSR.NFSV.GD.ZS,14.972085
3,Tunisia,TUN,2015,Trade in services (% of GDP),BG.GSR.NFSV.GD.ZS,14.762594
4,Tunisia,TUN,2014,Trade in services (% of GDP),BG.GSR.NFSV.GD.ZS,17.076776
...,...,...,...,...,...,...
4192,Tunisia,TUN,2009,Time required to deal with construction permit...,IC.FRM.TIME,81.000000
4193,Tunisia,TUN,2008,Time required to deal with construction permit...,IC.FRM.TIME,81.000000
4194,Tunisia,TUN,2007,Time required to deal with construction permit...,IC.FRM.TIME,90.000000
4195,Tunisia,TUN,2006,Time required to deal with construction permit...,IC.FRM.TIME,90.000000
4196,Tunisia,TUN,2005,Time required to deal with construction permit...,IC.FRM.TIME,90.000000

In [10]:
df_Priv_sec_indicator['#country+code'].unique()

array(['TUN'], dtype=object)

In [11]:
df_Priv_sec_indicator['#country+name'].unique()

array(['Tunisia'], dtype=object)